<!DOCTYPE html>
<html>
<head>
    <title>main</title>
    <meta charset="utf-8">
    <style>
        body {
            max-width: 60%;
            margin-left: auto; 
            margin-right: auto;
            font-family: 'Arial';
            font-size: 14pt;
        }
    </style>
</head>
<body>
    <h1>Библиотетка</h1>
    <p>Добро пожаловать.</p>
    <hr>
    <p>{{descr|linebreaks}}</p>
    <hr>
    <h2>Наши авторы</h2>
    <ul>
        {% for author in authors %}
            <li>{{author.author}}</li>
        {% endfor %}
    </ul>
    <hr>
    {% for author in authors %}
        <h3>{{author.author}}</h3>
    <ul>
        {% for book in author.books %}
            <li>
                <a href='/book/{{book.file}}'>{{book.title}}</a>
            </li>
        {% endfor %}
    </ul>
    {% endfor %}
</body>
</html>
